Repository gurobokum/liman: changes, and which Codecov flags are due for each by the changed paths.
All: python, python/liman, python/liman_core, python/liman_finops, python/liman_openapi

codecov.yml:

flags:
  python:
    paths:
      - python/

component_management:
  individual_components:
    - component_id: liman_py
      name: python/liman
      paths:
        - python/packages/liman/**
    - component_id: liman_core_py
      name: python/liman_core
      paths:
        - python/packages/liman_core/**
    - component_id: liman_finops_py
      name: python/liman_finops
      paths:
        - python/packages/liman_finops/**
    - component_id: liman_openapi_py
      name: python/liman_openapi
      paths:
        - python/packages/liman_openapi/**

github_checks:
  annotations: false

build_py: pin python versions
  .github/workflows/python-checks.yaml
  README.md
  commitlint.config.cjs
  python/packages/liman/pyproject.toml
  python/packages/liman_core/pyproject.toml
  python/packages/liman_finops/pyproject.toml
  python/packages/liman_openapi/pyproject.toml
  python/uv.lock
Due: python, python/liman, python/liman_core, python/liman_finops, python/liman_openapi

feat_py(liman_openapi): add security scheme support
  python/packages/liman_openapi/src/liman_openapi/operation.py
  python/packages/liman_openapi/src/liman_openapi/parse.py
  python/packages/liman_openapi/src/liman_openapi/schemas/security.py
  python/packages/liman_openapi/src/liman_openapi/tool_node.py
  python/packages/liman_openapi/tests/test_operation.py
  python/packages/liman_openapi/tests/test_parse_security_schemes.py
  python/packages/liman_openapi/tests/test_tool_node.py
Due: python, python/liman_openapi

feat_py(liman_core): add simple_core sample
  python/samples/simple_core/.env.example
  python/samples/simple_core/.gitignore
  python/samples/simple_core/README.md
  python/samples/simple_core/pyproject.toml
  python/samples/simple_core/src/liman_specs/assistant_node.yaml
  python/samples/simple_core/src/liman_specs/weather_tool.yaml
  python/samples/simple_core/src/main.py
  python/samples/simple_core/src/services.py
  python/samples/simple_core/src/tools.py
  python/samples/simple_core/uv.lock
Due: python

Fix React Server Components CVE vulnerabilities
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

fix(ci): detect all changed files in push, not just the latest commit
  .github/workflows/python-checks.yaml
  scripts/ci/detect_changed_packages.py
Due: none

release(liman_core_py): 0.1.0
  .release-please-manifest.json
  python/packages/liman_core/CHANGELOG.md
  python/packages/liman_core/src/liman_core/__init__.py
Due: python, python/liman_core

release(liman_openapi_py): 0.1.0
  .release-please-manifest.json
  python/packages/liman_openapi/CHANGELOG.md
  python/packages/liman_openapi/src/liman_openapi/__init__.py
Due: python, python/liman_openapi

release(liman_core_py): 0.1.0 (#27)
  .release-please-manifest.json
  python/packages/liman_core/CHANGELOG.md
  python/packages/liman_core/src/liman_core/__init__.py
Due: python, python/liman_core

release(liman_openapi_py): 0.1.0 (#29)
  python/packages/liman_openapi/CHANGELOG.md
  python/packages/liman_openapi/src/liman_openapi/__init__.py
Due: python, python/liman_openapi

build: add alpha development status and patch-only version bumps
  python/packages/liman/pyproject.toml
  python/packages/liman_core/pyproject.toml
  python/packages/liman_finops/pyproject.toml
  python/packages/liman_openapi/pyproject.toml
  release-please-config.json
Due: python, python/liman, python/liman_core, python/liman_finops, python/liman_openapi

docs: add PyPI badges
  python/packages/liman_core/README.md
  python/packages/liman_openapi/README.md
Due: python, python/liman_core, python/liman_openapi

build: fix release-please versions
  .release-please-manifest.json
Due: none

docs: refresh landing page with new hero, code examples, and copy
  README.md
  docs/app/(home)/_components/CodeExample.tsx
  docs/app/(home)/_components/CodeTabs.tsx
  docs/app/(home)/_components/Community.tsx
  docs/app/(home)/_components/Features.tsx
  docs/app/(home)/_components/Footer.tsx
  docs/app/(home)/_components/Hero.tsx
  docs/app/(home)/page.tsx
  docs/app/global.css
  docs/app/layout.tsx
Due: none

feat_py(liman_core): add structured output to LLMNode
  docs/content/docs/specification/llm_node.mdx
  python/packages/liman_core/src/liman_core/base/component.py
  python/packages/liman_core/src/liman_core/nodes/base/schemas.py
  python/packages/liman_core/src/liman_core/nodes/llm_node/node.py
  python/packages/liman_core/src/liman_core/nodes/llm_node/schemas.py
  python/packages/liman_core/src/liman_core/nodes/llm_node/structured_output.py
  python/packages/liman_core/src/liman_core/utils.py
  python/packages/liman_core/tests/nodes/llm_node/test_structured_output.py
  python/packages/liman_core/tests/test_utils.py
Due: python, python/liman_core

feat_py(liman_core): add simple_structured_output sample
  python/samples/simple_structured_output/.env.example
  python/samples/simple_structured_output/.gitignore
  python/samples/simple_structured_output/README.md
  python/samples/simple_structured_output/pyproject.toml
  python/samples/simple_structured_output/src/conf.py
  python/samples/simple_structured_output/src/main.py
  python/samples/simple_structured_output/src/specs/extractor_llm.yaml
  python/samples/simple_structured_output/uv.lock
Due: python

build_py(samples): add tests for simple_core sample
  .github/workflows/python-checks.yaml
  commitlint.config.cjs
  python/samples/simple_core/pyproject.toml
  python/samples/simple_core/tests/__init__.py
  python/samples/simple_core/tests/conftest.py
  python/samples/simple_core/tests/test_integration.py
  python/samples/simple_core/uv.lock
  scripts/ci/detect_changed_packages.py
Due: python

refactor_py(liman): executor as stateful restorable entity
  python/packages/liman/src/liman/agent.py
  python/packages/liman/src/liman/executor/base.py
  python/packages/liman/src/liman/executor/errors.py
  python/packages/liman/src/liman/executor/schemas.py
  python/packages/liman/src/liman/state.py
  python/packages/liman/tests/executor/test_base.py
  python/packages/liman/tests/executor/test_executor_schemas.py
  python/packages/liman/tests/test_agent.py
  python/packages/liman/tests/test_state.py
  python/packages/liman_core/src/liman_core/node_actor/actor.py
  python/samples/simple_core/src/main.py
  python/samples/simple_openapi/main.py
Due: python, python/liman, python/liman_core

refactor_py(liman): drop aprefix method for StateStorage
  python/packages/liman/src/liman/executor/base.py
  python/packages/liman/src/liman/state.py
  python/packages/liman/src/liman/state/__init__.py
  python/packages/liman/src/liman/state/base.py
  python/packages/liman/tests/test_state.py
Due: python, python/liman

feat_py(liman): add simple_async_agent sample
  python/samples/simple_async_agent/.env.example
  python/samples/simple_async_agent/.gitignore
  python/samples/simple_async_agent/README.md
  python/samples/simple_async_agent/pyproject.toml
  python/samples/simple_async_agent/src/conf.py
  python/samples/simple_async_agent/src/main.py
  python/samples/simple_async_agent/src/server.py
  python/samples/simple_async_agent/src/specs/chat_llm.yaml
  python/samples/simple_async_agent/uv.lock
Due: python

refactor_py(liman): rename node_full_name to node_fullname
  python/packages/liman/src/liman/executor/base.py
  python/packages/liman/src/liman/executor/schemas.py
  python/packages/liman/tests/executor/test_executor_schemas.py
  python/packages/liman/tests/test_agent.py
Due: python, python/liman

feat_py(liman): pass context through executor and state storage
  python/packages/liman/src/liman/agent.py
  python/packages/liman/src/liman/executor/base.py
  python/packages/liman/src/liman/state/base.py
Due: python, python/liman

fix_py(liman): fix executor output
  python/packages/liman/src/liman/executor/base.py
Due: python, python/liman

feat_py(liman): add simple Redis StateStorage
  python/packages/liman/pyproject.toml
  python/packages/liman/src/liman/state/redis.py
  python/packages/liman/tests/executor/test_base.py
  python/uv.lock
Due: python, python/liman

release(liman_core_ts): 1.0.0
  .release-please-manifest.json
  typescript/packages/liman_core/CHANGELOG.md
  typescript/packages/liman_core/package.json
Due: none

release(liman_finops_py): 0.1.0
  .release-please-manifest.json
  python/packages/liman_finops/CHANGELOG.md
  python/packages/liman_finops/src/liman_finops/version.py
Due: python, python/liman_finops

release(liman_openapi_py): 0.1.1
  .release-please-manifest.json
  python/packages/liman_openapi/CHANGELOG.md
  python/packages/liman_openapi/src/liman_openapi/__init__.py
Due: python, python/liman_openapi

release(liman_core_py): 0.1.1
  .release-please-manifest.json
  python/packages/liman_core/CHANGELOG.md
  python/packages/liman_core/src/liman_core/__init__.py
Due: python, python/liman_core

release(liman_py): 0.1.0
  .release-please-manifest.json
  python/packages/liman/CHANGELOG.md
  python/packages/liman/src/liman/__init__.py
Due: python, python/liman

docs: update landing hero and features with new copy, links, and status badges
  docs/app/(home)/_components/Features.tsx
  docs/app/(home)/_components/Hero.tsx
  docs/app/(home)/page.tsx
Due: none

docs: add concepts section with execution model and state pages
  docs/content/docs/concepts/execution-model.mdx
  docs/content/docs/concepts/index.mdx
  docs/content/docs/concepts/meta.json
  docs/content/docs/concepts/state.mdx
  docs/content/docs/meta.json
Due: none

docs: add getting started onboarding page with blog post cards
  docs/app/(home)/blog/page.tsx
  docs/content/docs/getting-started/index.mdx
  docs/src/components/mdx/BlogPostCard.tsx
  docs/src/mdx-components.tsx
Due: none

feat_py(liman_core): add canonical to routing field with ref-based EdgeSpec
  docs/content/docs/specification/internal_types.mdx
  docs/content/docs/specification/llm_node.mdx
  docs/content/docs/specification/node.mdx
  docs/content/docs/specification/tool_node.mdx
  python/packages/liman_core/src/liman_core/edge/schemas.py
  python/packages/liman_core/src/liman_core/node_actor/actor.py
  python/packages/liman_core/src/liman_core/nodes/function_node/schemas.py
  python/packages/liman_core/src/liman_core/nodes/llm_node/schemas.py
  python/packages/liman_core/src/liman_core/nodes/node/node.py
  python/packages/liman_core/src/liman_core/nodes/node/schemas.py
  python/packages/liman_core/src/liman_core/nodes/supported_types.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/node.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/schemas.py
  python/packages/liman_core/tests/edge/test_edge_schemas.py
  python/packages/liman_core/tests/edge/test_to_edges.py
  python/packages/liman_core/tests/node_actor/test_node_actor_additional.py
  python/packages/liman_core/tests/nodes/function_node/test_function_node_schemas.py
Due: python, python/liman_core

docs: add HITLNode spec
  docs/content/docs/specification/hitl_node.mdx
  docs/content/docs/specification/llm_node.mdx
  docs/content/docs/specification/meta.json
  docs/content/docs/specification/node.mdx
Due: none

feat_py(liman_core): add get_llm with model registry and pricing
  python/packages/liman/src/liman/__init__.py
  python/packages/liman_core/src/liman_core/__init__.py
  python/packages/liman_core/src/liman_core/llm/__init__.py
  python/packages/liman_core/src/liman_core/llm/base.py
  python/packages/liman_core/src/liman_core/llm/models.yaml
  python/packages/liman_core/src/liman_core/llm/registry.py
  python/packages/liman_core/src/liman_core/llm/schemas.py
  python/packages/liman_core/tests/llm/__init__.py
  python/packages/liman_core/tests/llm/test_get_llm.py
  python/packages/liman_core/tests/llm/test_registry.py
Due: python, python/liman, python/liman_core

feat_py(liman_finops): read token prices from liman_core model registry
  python/packages/liman_core/src/liman_core/llm/models.yaml
  python/packages/liman_finops/pyproject.toml
  python/packages/liman_finops/src/liman_finops/token_pricing.py
Due: python, python/liman_core, python/liman_finops

feat_py(liman_core): lowercase model refs in resolve_model
  python/packages/liman_core/src/liman_core/llm/registry.py
  python/packages/liman_core/tests/llm/test_registry.py
Due: python, python/liman_core

fix(ci): pin uv to 0.12.7 and refresh stale python lockfile
  .github/workflows/python-checks.yaml
  .github/workflows/release.yaml
  python/packages/liman/pyproject.toml
  python/pyproject.toml
  python/uv.lock
Due: python, python/liman

release(liman_core_py): 0.1.1 (#32)
  .release-please-manifest.json
  python/packages/liman_core/CHANGELOG.md
  python/packages/liman_core/src/liman_core/__init__.py
Due: python, python/liman_core
