Repository gurobokum/liman: changes, and which Codecov flags are due for each by the changed paths.
All: python, python/liman, python/liman_core, python/liman_finops, python/liman_openapi

docs: disable self-analytics
  docs/app/layout.tsx
  docs/src/components/Analytics.tsx
Due: none

docs: add codecov badges for python code
  README.md
  python/packages/liman_core/README.md
  python/packages/liman_finops/README.md
  python/packages/liman_openapi/README.md
Due: python, python/liman_core, python/liman_finops, python/liman_openapi

ci: configure pytest-cov
  python/packages/liman/pyproject.toml
  python/packages/liman_core/pyproject.toml
  python/packages/liman_finops/pyproject.toml
  python/packages/liman_openapi/pyproject.toml
Due: python, python/liman, python/liman_core, python/liman_finops, python/liman_openapi

refactor_py(liman_core): split node actors
  python/packages/liman_core/src/liman_core/__init__.py
  python/packages/liman_core/src/liman_core/llm_node/node.py
  python/packages/liman_core/src/liman_core/node_actor/__init__.py
  python/packages/liman_core/src/liman_core/node_actor/async_actor.py
  python/packages/liman_core/src/liman_core/node_actor/base.py
  python/packages/liman_core/tests/node_actor/test_async_node_actor_integration.py
  python/packages/liman_core/tests/node_actor/test_base_node_actor.py
  python/packages/liman_core/tests/node_actor/test_sync_node_actor.py
  python/packages/liman_core/tests/node_actor/test_sync_node_actor_integration.py
Due: python, python/liman_core

docs: refactor internal types doc, add section about InlinedType
  docs/content/docs/specification/internal_types.mdx
Due: none

docs: add ServiceAccount specification
  docs/content/docs/specification/auth/meta.json
  docs/content/docs/specification/auth/service_account.mdx
Due: none

refactor_py(liman_core): change state to status in NodeActor
  python/packages/liman_core/src/liman_core/node_actor/__init__.py
  python/packages/liman_core/src/liman_core/node_actor/actor.py
  python/packages/liman_core/src/liman_core/node_actor/async_actor.py
  python/packages/liman_core/src/liman_core/node_actor/base.py
  python/packages/liman_core/src/liman_core/node_actor/schemas.py
  python/packages/liman_core/tests/node_actor/test_async_node_actor.py
  python/packages/liman_core/tests/node_actor/test_async_node_actor_integration.py
  python/packages/liman_core/tests/node_actor/test_base_node_actor.py
  python/packages/liman_core/tests/node_actor/test_sync_node_actor.py
  python/packages/liman_core/tests/node_actor/test_sync_node_actor_integration.py
Due: python, python/liman_core

refactor_py(liman_core): extract Component from BaseNode
  python/packages/liman_core/src/liman_core/base/__init__.py
  python/packages/liman_core/src/liman_core/base/component.py
  python/packages/liman_core/src/liman_core/base/node.py
  python/packages/liman_core/src/liman_core/base/schemas.py
  python/packages/liman_core/src/liman_core/llm_node/node.py
  python/packages/liman_core/src/liman_core/node/node.py
  python/packages/liman_core/src/liman_core/tool_node/node.py
Due: python, python/liman_core

refactor_py(liman_core): raise InvalidSpecError on loading failed yaml structure
  python/packages/liman_core/src/liman_core/base/component.py
  python/packages/liman_core/tests/node/test_node_yaml_loading.py
Due: python, python/liman_core

feat_py(liman_core): implement ServiceAccount
  python/packages/liman_core/src/liman_core/auth/__init__.py
  python/packages/liman_core/src/liman_core/auth/schemas.py
  python/packages/liman_core/src/liman_core/auth/service_account.py
  python/packages/liman_core/tests/auth/data/empty.yaml
  python/packages/liman_core/tests/auth/data/invalid_service_account.yaml
  python/packages/liman_core/tests/auth/data/malformed.yaml
  python/packages/liman_core/tests/auth/data/valid_service_account.yaml
  python/packages/liman_core/tests/auth/test_service_account.py
  python/packages/liman_core/tests/auth/test_service_account_yaml_loading.py
Due: python, python/liman_core

build: add poe format for all packages
  python/pyproject.toml
Due: python

docs: add notes to ServiceAccount specification
  docs/content/docs/specification/auth/service_account.mdx
Due: none

docs: replace Optional with ? mark in Specifications
  docs/content/docs/specification/llm_node.mdx
  docs/content/docs/specification/node.mdx
  docs/content/docs/specification/tool_node.mdx
Due: none

ci: generate coverage for all packages per commit
  .github/workflows/python-checks.yaml
Due: none

docs: add Authz and Plugins sections in POC
  docs/content/docs/poc.mdx
Due: none

docs: improve POC
  docs/app/docs/[[...slug]]/page.tsx
  docs/content/docs/poc.mdx
  docs/source.config.ts
Due: none

docs: add links to landing Features
  docs/app/(home)/_components/Features.tsx
Due: none

docs: fix build issue
  docs/app/docs/[[...slug]]/page.tsx
Due: none

feat_py(liman_core): design Plugins system
  python/packages/liman_core/src/liman_core/base/component.py
  python/packages/liman_core/src/liman_core/llm_node/node.py
  python/packages/liman_core/src/liman_core/plugins/__init__.py
  python/packages/liman_core/src/liman_core/plugins/core/__init__.py
  python/packages/liman_core/src/liman_core/plugins/core/base.py
  python/packages/liman_core/src/liman_core/plugins/core/errors.py
  python/packages/liman_core/src/liman_core/plugins/core/register.py
  python/packages/liman_core/src/liman_core/registry.py
Due: python, python/liman_core

refactor_py(liman_core, liman_openapi): drop dishka di
  python/packages/liman_core/pyproject.toml
  python/packages/liman_core/src/liman_core/auth/service_account.py
  python/packages/liman_core/src/liman_core/base/component.py
  python/packages/liman_core/src/liman_core/base/node.py
  python/packages/liman_core/src/liman_core/dishka.py
  python/packages/liman_core/src/liman_core/llm_node/node.py
  python/packages/liman_core/src/liman_core/node/node.py
  python/packages/liman_core/src/liman_core/plugins/core/register.py
  python/packages/liman_core/src/liman_core/registry.py
  python/packages/liman_core/src/liman_core/tool_node/node.py
  python/packages/liman_core/tests/auth/test_service_account.py
  python/packages/liman_core/tests/auth/test_service_account_yaml_loading.py
  python/packages/liman_core/tests/conftest.py
  python/packages/liman_core/tests/llm_node/test_llm_node.py
  python/packages/liman_core/tests/node/test_node.py
  python/packages/liman_core/tests/node/test_node_yaml_loading.py
  python/packages/liman_core/tests/node_actor/test_async_node_actor_integration.py
  python/packages/liman_core/tests/node_actor/test_sync_node_actor_integration.py
  python/packages/liman_core/tests/tool_node/test_get_json_schema.py
  python/packages/liman_core/tests/tool_node/test_tool_node.py
  python/packages/liman_core/tests/tool_node/test_tool_node_invoke.py
  python/packages/liman_openapi/src/liman_openapi/tool_node.py
  python/packages/liman_openapi/tests/test_tool_node.py
  python/uv.lock
Due: python, python/liman_core, python/liman_openapi

refactor_py(liman_core): move auth to plugins
  python/packages/liman_core/src/liman_core/base/component.py
  python/packages/liman_core/src/liman_core/plugins/auth/__init__.py
  python/packages/liman_core/src/liman_core/plugins/auth/plugin.py
  python/packages/liman_core/src/liman_core/plugins/auth/schemas.py
  python/packages/liman_core/src/liman_core/plugins/auth/service_account.py
  python/packages/liman_core/src/liman_core/plugins/core/base.py
  python/packages/liman_core/src/liman_core/plugins/core/register.py
  python/packages/liman_core/src/liman_core/registry.py
  python/packages/liman_core/tests/plugins/__init__.py
  python/packages/liman_core/tests/plugins/auth/__init__.py
  python/packages/liman_core/tests/plugins/auth/data/empty.yaml
  python/packages/liman_core/tests/plugins/auth/data/invalid_service_account.yaml
  python/packages/liman_core/tests/plugins/auth/data/malformed.yaml
  python/packages/liman_core/tests/plugins/auth/data/valid_service_account.yaml
  python/packages/liman_core/tests/plugins/auth/test_service_account.py
  python/packages/liman_core/tests/plugins/auth/test_service_account_yaml_loading.py
Due: python, python/liman_core

refactor_py(liman_core): merge AsyncNodeActor with NodeActor into single class
  python/packages/liman_core/src/liman_core/__init__.py
  python/packages/liman_core/src/liman_core/base/component.py
  python/packages/liman_core/src/liman_core/base/node.py
  python/packages/liman_core/src/liman_core/errors.py
  python/packages/liman_core/src/liman_core/llm_node/node.py
  python/packages/liman_core/src/liman_core/node/node.py
  python/packages/liman_core/src/liman_core/node_actor/__init__.py
  python/packages/liman_core/src/liman_core/node_actor/actor.py
  python/packages/liman_core/src/liman_core/node_actor/async_actor.py
  python/packages/liman_core/src/liman_core/node_actor/base.py
  python/packages/liman_core/src/liman_core/plugins/auth/plugin.py
  python/packages/liman_core/src/liman_core/plugins/auth/schemas.py
  python/packages/liman_core/src/liman_core/plugins/auth/service_account.py
  python/packages/liman_core/src/liman_core/plugins/core/base.py
  python/packages/liman_core/src/liman_core/registry.py
  python/packages/liman_core/src/liman_core/tool_node/node.py
  python/packages/liman_core/tests/conftest.py
  python/packages/liman_core/tests/node_actor/test_async_node_actor.py
  python/packages/liman_core/tests/node_actor/test_async_node_actor_integration.py
  python/packages/liman_core/tests/node_actor/test_base_node_actor.py
  python/packages/liman_core/tests/node_actor/test_sync_node_actor.py
  python/packages/liman_core/tests/node_actor/test_sync_node_actor_integration.py
  python/packages/liman_core/tests/plugins/auth/test_service_account.py
Due: python, python/liman_core

refactor_py(liman_core): create NodeOutput and Result types
  python/packages/liman_core/src/liman_core/base/__init__.py
  python/packages/liman_core/src/liman_core/base/node.py
  python/packages/liman_core/src/liman_core/llm_node/node.py
  python/packages/liman_core/src/liman_core/node/node.py
  python/packages/liman_core/src/liman_core/node_actor/actor.py
  python/packages/liman_core/src/liman_core/node_actor/schemas.py
  python/packages/liman_core/src/liman_core/tool_node/node.py
  python/packages/liman_core/tests/node_actor/test_async_node_actor.py
  python/packages/liman_core/tests/node_actor/test_sync_node_actor.py
  python/packages/liman_core/tests/tool_node/test_tool_node_invoke.py
Due: python, python/liman_core

feat_py(liman_core): add StateStorage design
  python/packages/liman_core/src/liman_core/executor/__init__.py
  python/packages/liman_core/src/liman_core/executor/state.py
Due: python, python/liman_core

feat_py(liman_core): implement NodeActor and Nodes states
  python/packages/liman_core/src/liman_core/base/__init__.py
  python/packages/liman_core/src/liman_core/base/node.py
  python/packages/liman_core/src/liman_core/base/schemas.py
  python/packages/liman_core/src/liman_core/llm_node/node.py
  python/packages/liman_core/src/liman_core/llm_node/schemas.py
  python/packages/liman_core/src/liman_core/node/node.py
  python/packages/liman_core/src/liman_core/node/schemas.py
  python/packages/liman_core/src/liman_core/node_actor/actor.py
  python/packages/liman_core/src/liman_core/node_actor/schemas.py
  python/packages/liman_core/src/liman_core/tool_node/node.py
  python/packages/liman_core/src/liman_core/tool_node/schemas.py
  python/packages/liman_core/tests/node_actor/test_async_node_actor.py
  python/packages/liman_core/tests/node_actor/test_async_node_actor_integration.py
  python/packages/liman_core/tests/node_actor/test_sync_node_actor.py
  python/packages/liman_core/tests/node_actor/test_sync_node_actor_integration.py
Due: python, python/liman_core

feat_py(liman_core): implement ConditionalEvaluator
  python/packages/liman_core/src/liman_core/base/schemas.py
  python/packages/liman_core/src/liman_core/edge/dsl/grammar.py
  python/packages/liman_core/src/liman_core/edge/dsl/transformer.py
  python/packages/liman_core/src/liman_core/node_actor/actor.py
  python/packages/liman_core/src/liman_core/node_actor/conditional_evaluator.py
  python/packages/liman_core/src/liman_core/node_actor/schemas.py
  python/packages/liman_core/tests/node_actor/test_async_node_actor.py
Due: python, python/liman_core

release(liman_finops_py): 0.1.0-a0
  .release-please-manifest.json
  python/packages/liman_finops/CHANGELOG.md
Due: python, python/liman_finops

release(liman_core_ts): 0.1.0-a0
  .release-please-manifest.json
  typescript/packages/liman_core/CHANGELOG.md
  typescript/packages/liman_core/package.json
Due: none

release(liman_openapi_py): 0.1.0-a0
  .release-please-manifest.json
  python/packages/liman_openapi/CHANGELOG.md
Due: python, python/liman_openapi

release(liman_core_py): 0.1.0-a2
  .release-please-manifest.json
  python/packages/liman_core/CHANGELOG.md
  python/packages/liman_core/src/liman_core/__init__.py
Due: python, python/liman_core

feat_py(liman_core): implement Executor
  python/packages/liman_core/src/liman_core/base/schemas.py
  python/packages/liman_core/src/liman_core/executor/executor.py
  python/packages/liman_core/src/liman_core/executor/state.py
  python/packages/liman_core/src/liman_core/llm_node/node.py
  python/packages/liman_core/src/liman_core/llm_node/schemas.py
  python/packages/liman_core/src/liman_core/node_actor/actor.py
  python/packages/liman_core/src/liman_core/node_actor/schemas.py
  python/packages/liman_core/src/liman_core/nodes/__init__.py
  python/packages/liman_core/src/liman_core/nodes/supported_types.py
  python/packages/liman_core/src/liman_core/nodes/utils.py
Due: python, python/liman_core

refactor_py(liman_core, liman_openapi): move nodes into separated folder
  python/packages/liman_core/src/liman_core/__init__.py
  python/packages/liman_core/src/liman_core/base/schemas.py
  python/packages/liman_core/src/liman_core/executor/executor.py
  python/packages/liman_core/src/liman_core/node_actor/actor.py
  python/packages/liman_core/src/liman_core/node_actor/schemas.py
  python/packages/liman_core/src/liman_core/nodes/base/__init__.py
  python/packages/liman_core/src/liman_core/nodes/base/node.py
  python/packages/liman_core/src/liman_core/nodes/base/schemas.py
  python/packages/liman_core/src/liman_core/nodes/llm_node/__init__.py
  python/packages/liman_core/src/liman_core/nodes/llm_node/node.py
  python/packages/liman_core/src/liman_core/nodes/llm_node/schemas.py
  python/packages/liman_core/src/liman_core/nodes/node/__init__.py
  python/packages/liman_core/src/liman_core/nodes/node/node.py
  python/packages/liman_core/src/liman_core/nodes/node/schemas.py
  python/packages/liman_core/src/liman_core/nodes/supported_types.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/__init__.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/errors.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/node.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/schemas.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/utils.py
  python/packages/liman_core/tests/llm_node/test_llm_node.py
  python/packages/liman_core/tests/node/test_node.py
  python/packages/liman_core/tests/node/test_node_yaml_loading.py
  python/packages/liman_core/tests/node_actor/test_async_node_actor.py
  python/packages/liman_core/tests/node_actor/test_async_node_actor_integration.py
  python/packages/liman_core/tests/node_actor/test_sync_node_actor.py
  python/packages/liman_core/tests/node_actor/test_sync_node_actor_integration.py
  python/packages/liman_core/tests/tool_node/test_get_json_schema.py
  python/packages/liman_core/tests/tool_node/test_tool_node.py
  python/packages/liman_core/tests/tool_node/test_tool_node_invoke.py
  python/packages/liman_core/tests/tool_node/test_utils.py
  python/packages/liman_openapi/src/liman_openapi/tool_node.py
  python/packages/liman_openapi/tests/test_tool_node.py
Due: python, python/liman_core, python/liman_openapi

refactor_py(liman_core): drop sync methods
  python/packages/liman_core/src/liman_core/node_actor/actor.py
  python/packages/liman_core/src/liman_core/nodes/base/node.py
  python/packages/liman_core/src/liman_core/nodes/base/schemas.py
  python/packages/liman_core/src/liman_core/nodes/llm_node/node.py
  python/packages/liman_core/src/liman_core/nodes/node/node.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/node.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/schemas.py
  python/packages/liman_core/tests/node_actor/test_async_node_actor.py
  python/packages/liman_core/tests/node_actor/test_async_node_actor_integration.py
  python/packages/liman_core/tests/node_actor/test_sync_node_actor.py
  python/packages/liman_core/tests/tool_node/test_tool_node_invoke.py
Due: python, python/liman_core

feat_py(liman_core): add full_name for nodes
  python/packages/liman_core/src/liman_core/base/component.py
Due: python, python/liman_core

refactor_py(liman_core)!: rework NodeActor
  python/packages/liman_core/src/liman_core/node_actor/actor.py
  python/packages/liman_core/src/liman_core/node_actor/schemas.py
  python/packages/liman_core/src/liman_core/nodes/base/node.py
  python/packages/liman_core/src/liman_core/nodes/base/schemas.py
  python/packages/liman_core/src/liman_core/nodes/function_node/__init__.py
  python/packages/liman_core/src/liman_core/nodes/function_node/node.py
  python/packages/liman_core/src/liman_core/nodes/function_node/schemas.py
  python/packages/liman_core/src/liman_core/nodes/llm_node/node.py
  python/packages/liman_core/src/liman_core/nodes/node/node.py
  python/packages/liman_core/src/liman_core/nodes/supported_types.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/node.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/schemas.py
Due: python, python/liman_core

tests(liman_core): sync tests with new NodeActor design
  python/packages/liman_core/tests/node_actor/conftest.py
  python/packages/liman_core/tests/node_actor/test_async_node_actor.py
  python/packages/liman_core/tests/node_actor/test_async_node_actor_integration.py
  python/packages/liman_core/tests/node_actor/test_node_actor.py
  python/packages/liman_core/tests/node_actor/test_node_actor_integration.py
  python/packages/liman_core/tests/node_actor/test_sync_node_actor.py
  python/packages/liman_core/tests/node_actor/test_sync_node_actor_integration.py
Due: python, python/liman_core

feat(liman_core): support debug logging
  python/packages/liman_core/src/liman_core/__init__.py
  python/packages/liman_core/src/liman_core/conf.py
Due: python, python/liman_core

fix(liman_core): fix getting field name from spec of the auth plugin
  python/packages/liman_core/src/liman_core/plugins/auth/plugin.py
Due: python, python/liman_core

refactor_py(liman_core): remove executor
  python/packages/liman_core/src/liman_core/executor/__init__.py
  python/packages/liman_core/src/liman_core/executor/executor.py
  python/packages/liman_core/src/liman_core/executor/state.py
Due: python, python/liman_core

test(liman_core): fix tests
  python/packages/liman_core/tests/llm_node/test_llm_node.py
  python/packages/liman_core/tests/node/test_node.py
  python/packages/liman_core/tests/tool_node/test_tool_node_invoke.py
Due: python, python/liman_core

Path conditions:
  python: any of: python/
  python/liman: any of: python/packages/liman/**
  python/liman_core: any of: python/packages/liman_core/**
  python/liman_finops: any of: python/packages/liman_finops/**
  python/liman_openapi: any of: python/packages/liman_openapi/**
