Repository gurobokum/liman: changes, and which Codecov flags are due for each by the changed paths.
All: python, python/liman, python/liman_core, python/liman_finops, python/liman_openapi

build(liman_core, liman): add langchain_core
  python/uv.lock
Due: python

feat_py(liman): implement executor
  python/packages/liman/pyproject.toml
  python/packages/liman/src/liman/__init__.py
  python/packages/liman/src/liman/conf.py
  python/packages/liman/src/liman/executor/__init__.py
  python/packages/liman/src/liman/executor/base.py
  python/packages/liman/src/liman/executor/schemas.py
  python/packages/liman/src/liman/state.py
Due: python, python/liman

ci(liman): add liman_py to release please
  release-please-config.json
Due: none

ci: release multiple python packages
  .github/workflows/release.yaml
Due: none

build: rename typing command to mypy for python
  package.json
  python/pyproject.toml
Due: python

fix(liman_core): add self.node on init in ToolNode
  python/packages/liman_core/src/liman_core/nodes/tool_node/node.py
Due: python, python/liman_core

docs: update README.md
  README.md
Due: none

release(liman_py): 0.1.0-a0
  .release-please-manifest.json
  python/packages/liman/CHANGELOG.md
Due: python, python/liman

refactor_py(liman): rework versioning
  python/packages/liman/VERSION
  python/packages/liman/pyproject.toml
  python/packages/liman/src/liman/__init__.py
Due: python, python/liman

ci(liman): update version
  release-please-config.json
Due: none

release(liman_py): 0.1.0-a2
  .release-please-manifest.json
  python/packages/liman/CHANGELOG.md
  python/packages/liman/src/liman/__init__.py
Due: python, python/liman

release(liman_py): 0.1.0-a2 (#22)
  .release-please-manifest.json
  python/packages/liman/CHANGELOG.md
  python/packages/liman/src/liman/__init__.py
Due: python, python/liman

feat_py(liman_core): support pathlib.Path as yaml_path
  python/packages/liman_core/src/liman_core/base/component.py
  python/packages/liman_core/src/liman_core/plugins/auth/service_account.py
  python/packages/liman_core/tests/node/test_node_yaml_loading.py
Due: python, python/liman_core

feat_py(liman_core): support print_spec for whole registry
  python/packages/liman_core/src/liman_core/registry.py
Due: python, python/liman_core

feat_py(liman_openapi): implement parsing requestBody
  python/packages/liman_openapi/pyproject.toml
  python/packages/liman_openapi/src/liman_openapi/__init__.py
  python/packages/liman_openapi/src/liman_openapi/load.py
  python/packages/liman_openapi/src/liman_openapi/operation.py
  python/packages/liman_openapi/src/liman_openapi/schemas.py
  python/packages/liman_openapi/src/liman_openapi/tool_node.py
  python/packages/liman_openapi/src/liman_openapi/utils.py
Due: python, python/liman_openapi

test(liman_openapi): fix tests
  python/packages/liman_openapi/src/liman_openapi/schemas.py
  python/packages/liman_openapi/tests/test_operation.py
  python/packages/liman_openapi/tests/test_schemas.py
  python/packages/liman_openapi/tests/test_tool_node.py
Due: python, python/liman_openapi

feat_py(liman_core): support object parameter type in ToolNode
  python/packages/liman_core/src/liman_core/languages.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/node.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/schemas.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/utils.py
  python/packages/liman_core/tests/languages/test_normalize_dict.py
  python/packages/liman_core/tests/tool_node/test_tool_node.py
Due: python, python/liman_core

feat_py(liman): implement loader
  python/packages/liman/pyproject.toml
  python/packages/liman/src/liman/__init__.py
  python/packages/liman/src/liman/loader.py
  python/uv.lock
Due: python, python/liman

release(liman_openapi_py): 0.1.0-a0
  .release-please-manifest.json
  python/packages/liman_openapi/CHANGELOG.md
Due: python, python/liman_openapi

release(liman_openapi_py): 0.1.0-a0 (#13)
  .release-please-manifest.json
  python/packages/liman_openapi/CHANGELOG.md
Due: python, python/liman_openapi

feat_py(liman): implement __str__ for ExecutorOutput
  python/packages/liman/src/liman/executor/schemas.py
Due: python, python/liman

docs(liman_core): update README.md
  python/packages/liman_core/README.md
Due: python, python/liman_core

feat_py(liman): implement Agent class
  python/packages/liman/src/liman/agent.py
  python/packages/liman/src/liman/loader.py
Due: python, python/liman

docs(liman): update README.md
  python/packages/liman/README.md
Due: python, python/liman

release(liman_core_py): 0.1.0-a2
  .release-please-manifest.json
  python/packages/liman_core/CHANGELOG.md
  python/packages/liman_core/src/liman_core/__init__.py
Due: python, python/liman_core

docs: update main python README.md
  python/README.md
Due: python

ci: update package versions
  release-please-config.json
Due: none

release(liman_core_py): 0.1.0-a3
  .release-please-manifest.json
  python/packages/liman_core/CHANGELOG.md
  python/packages/liman_core/src/liman_core/__init__.py
Due: python, python/liman_core

release(liman_core_py): 0.1.0-a3 (#24)
  .release-please-manifest.json
  python/packages/liman_core/CHANGELOG.md
  python/packages/liman_core/src/liman_core/__init__.py
Due: python, python/liman_core

release(liman_py): 0.1.0-a3
  .release-please-manifest.json
  python/packages/liman/CHANGELOG.md
  python/packages/liman/src/liman/__init__.py
Due: python, python/liman

release(liman_py): 0.1.0-a3 (#23)
  .release-please-manifest.json
  python/packages/liman/CHANGELOG.md
  python/packages/liman/src/liman/__init__.py
Due: python, python/liman

chore: add simple_openapi sample
  python/samples/simple_openapi/.env.example
  python/samples/simple_openapi/README.md
  python/samples/simple_openapi/main.py
  python/samples/simple_openapi/pyproject.toml
  python/samples/simple_openapi/server.py
  python/samples/simple_openapi/specs/chat_llm.yaml
  python/samples/simple_openapi/specs/confirm_action_tool.yaml
  python/samples/simple_openapi/uv.lock
Due: python

docs: add Getting Started section
  docs/content/docs/meta.json
  docs/content/docs/user_guide/getting-started.mdx
  docs/content/docs/user_guide/meta.json
Due: none

docs: rename sections from UserGuide to GettingStarted
  docs/content/docs/getting-started/meta.json
  docs/content/docs/getting-started/simple-agent.mdx
  docs/content/docs/meta.json
  docs/content/docs/user_guide/meta.json
Due: none

docs: add 2 step in GettingStarted tutorial
  docs/content/docs/getting-started/adding-tools.mdx
  docs/content/docs/getting-started/simple-agent.mdx
  python/packages/liman/README.md
Due: python, python/liman

feat_py(liman_openapi): use endpoint.description in favor of endpoint.summary
  python/packages/liman_openapi/src/liman_openapi/schemas.py
  python/packages/liman_openapi/src/liman_openapi/tool_node.py
Due: python, python/liman_openapi

release(liman_openapi_py): 0.1.0-a1
  .release-please-manifest.json
  python/packages/liman_openapi/CHANGELOG.md
  python/packages/liman_openapi/src/liman_openapi/__init__.py
Due: python, python/liman_openapi

release(liman_openapi_py): 0.1.0-a1 (#26)
  .release-please-manifest.json
  python/packages/liman_openapi/CHANGELOG.md
  python/packages/liman_openapi/src/liman_openapi/__init__.py
Due: python, python/liman_openapi

Path conditions:
  python: any of: python/
  python/liman: any of: python/packages/liman/**
  python/liman_core: any of: python/packages/liman_core/**
  python/liman_finops: any of: python/packages/liman_finops/**
  python/liman_openapi: any of: python/packages/liman_openapi/**
