Repository gurobokum/liman: changes, and which Codecov flags are due for each by the changed paths.
All: python, python/liman, python/liman_core, python/liman_finops, python/liman_openapi

codecov.yml:

flags:
  python:
    paths:
      - python/

component_management:
  individual_components:
    - component_id: liman_py
      name: python/liman
      paths:
        - python/packages/liman/**
    - component_id: liman_core_py
      name: python/liman_core
      paths:
        - python/packages/liman_core/**
    - component_id: liman_finops_py
      name: python/liman_finops
      paths:
        - python/packages/liman_finops/**
    - component_id: liman_openapi_py
      name: python/liman_openapi
      paths:
        - python/packages/liman_openapi/**

github_checks:
  annotations: false

docs(liman): add codecov badge
  python/packages/liman/README.md
Due: python, python/liman

docs: update README.md
  README.md
Due: none

feat_ts(liman_core): implement base components
  typescript/packages/liman_core/package.json
  typescript/packages/liman_core/src/base/component.ts
  typescript/packages/liman_core/src/base/node.test.ts
  typescript/packages/liman_core/src/base/node.ts
  typescript/packages/liman_core/src/base/schemas.ts
  typescript/packages/liman_core/src/errors.ts
  typescript/packages/liman_core/src/languages.ts
  typescript/packages/liman_core/src/nodes/base/schemas.ts
  typescript/packages/liman_core/src/plugins/core/base.ts
  typescript/packages/liman_core/src/registry.ts
  typescript/packages/liman_core/tests/base/component.test.ts
  typescript/packages/liman_core/tests/base/schemas.test.ts
  typescript/packages/liman_core/tsconfig.json
  typescript/packages/liman_core/vitest.config.ts
  typescript/pnpm-lock.yaml
Due: none

feat_ts(liman_core): add Nearly.js grammar for CE DSL
  typescript/packages/liman_core/src/edge/dsl/grammar.ne
Due: none

feat_ts(liman_core): implement Nearley grammar parsing
  typescript/packages/liman_core/package.json
  typescript/packages/liman_core/src/edge/dsl/grammar.ne
  typescript/packages/liman_core/src/edge/dsl/grammar.ts
  typescript/packages/liman_core/src/edge/dsl/transformer.ts
  typescript/packages/liman_core/src/edge/schemas.ts
  typescript/packages/liman_core/tests/edge/dsl/whenDSL.test.ts
  typescript/packages/liman_core/tests/edge/edgeSchemas.test.ts
  typescript/pnpm-lock.yaml
Due: none

docs: add Glossary page
  docs/content/docs/glossary.mdx
Due: none

release(liman_core_ts): 0.1.0-a0
  .release-please-manifest.json
  typescript/packages/liman_core/CHANGELOG.md
  typescript/packages/liman_core/package.json
Due: none

release(liman_core_py): 0.1.0-a4
  .release-please-manifest.json
  python/packages/liman_core/CHANGELOG.md
  python/packages/liman_core/src/liman_core/__init__.py
Due: python, python/liman_core

release(liman_finops_py): 0.1.0-a0
  .release-please-manifest.json
  python/packages/liman_finops/CHANGELOG.md
Due: python, python/liman_finops

release(liman_py): 0.1.0-a5
  .release-please-manifest.json
  python/packages/liman/CHANGELOG.md
  python/packages/liman/src/liman/__init__.py
Due: python, python/liman

feat_py(liman_core): add ExecutionContext and Liman API
  python/packages/liman_core/src/liman_core/node_actor/actor.py
  python/packages/liman_core/src/liman_core/nodes/base/execution_context.py
  python/packages/liman_core/src/liman_core/nodes/base/liman.py
  python/packages/liman_core/src/liman_core/nodes/function_node/node.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/node.py
Due: python, python/liman_core

test(liman_core): refactor tests
  python/packages/liman_core/tests/node/test_node.py
  python/packages/liman_core/tests/node/test_node_yaml_loading.py
  python/packages/liman_core/tests/node_actor/test_node_actor.py
  python/packages/liman_core/tests/nodes/llm_node/test_llm_node.py
  python/packages/liman_core/tests/nodes/tool_node/test_tool_node.py
  python/packages/liman_core/tests/nodes/tool_node/test_tool_node_invoke.py
Due: python, python/liman_core

feat_py(liman): provide context during execution
  python/packages/liman/src/liman/__init__.py
  python/packages/liman/src/liman/agent.py
  python/packages/liman/src/liman/executor/base.py
  python/packages/liman/src/liman/executor/schemas.py
  python/packages/liman/tests/executor/test_base.py
Due: python, python/liman

feat_ts(liman_core): migrate registry methods
  typescript/eslint.config.mts
  typescript/packages/liman_core/package.json
  typescript/packages/liman_core/src/nodes/base/node.ts
  typescript/packages/liman_core/src/registry.ts
  typescript/pnpm-lock.yaml
Due: none

docs: minor changes
  docs/.prettierignore
  docs/content/docs/meta.json
  docs/content/docs/specification/auth/meta.json
  docs/package.json
  docs/pnpm-lock.yaml
  docs/public/icon.png
Due: none

docs: setup griffe for code references
  docs/app/docs/layout.tsx
  docs/app/global.css
  docs/package.json
  docs/pnpm-lock.yaml
  docs/scripts/generate-python.mjs
  docs/src/mdx-components.tsx
Due: none

feat_py(liman_core): support building python reference
  python/README.md
  python/packages/liman_core/src/liman_core/nodes/base/execution_context.py
  python/packages/liman_core/src/liman_core/nodes/base/liman.py
  python/packages/liman_core/src/liman_core/nodes/base/node.py
  python/packages/liman_core/src/liman_core/nodes/base/schemas.py
  python/pyproject.toml
  python/scripts/griffe_libraries.py
  python/uv.lock
Due: python, python/liman_core

docs(liman_core): add docstrings
  python/.gitignore
  python/packages/liman_core/src/liman_core/nodes/function_node/node.py
  python/packages/liman_core/src/liman_core/nodes/function_node/schemas.py
  python/packages/liman_core/src/liman_core/nodes/llm_node/node.py
  python/packages/liman_core/src/liman_core/nodes/llm_node/schemas.py
  python/packages/liman_core/src/liman_core/nodes/node/node.py
  python/packages/liman_core/src/liman_core/nodes/node/schemas.py
  python/packages/liman_core/src/liman_core/nodes/supported_types.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/node.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/schemas.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/utils.py
Due: python, python/liman_core

build: add script for building python docs
  docs/package.json
  package.json
Due: none

docs: remove unused import
  docs/app/docs/layout.tsx
Due: none

docs: add root python docs page
  docs/app/docs/layout.tsx
  docs/content/docs/python/index.mdx
Due: none

docs: add separated section for CredentialsProvider component
  docs/app/docs/layout.tsx
  docs/content/docs/specification/auth/credentials_provider.mdx
  docs/content/docs/specification/auth/meta.json
  docs/content/docs/specification/auth/service_account.mdx
Due: none

feat_py(liman_core): make strict=True by default
  python/packages/liman_core/src/liman_core/base/component.py
Due: python, python/liman_core

refactor_py(liman_core): move noop function to utils
  python/packages/liman_core/src/liman_core/base/utils.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/node.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/utils.py
Due: python, python/liman_core

feat_py(liman_core): implement CredentialsProvider
  python/packages/liman_core/src/liman_core/plugins/auth/__init__.py
  python/packages/liman_core/src/liman_core/plugins/auth/credentials_provider/__init__.py
  python/packages/liman_core/src/liman_core/plugins/auth/credentials_provider/component.py
  python/packages/liman_core/src/liman_core/plugins/auth/credentials_provider/schemas.py
  python/packages/liman_core/src/liman_core/plugins/auth/plugin.py
  python/packages/liman_core/src/liman_core/plugins/auth/service_account/__init__.py
  python/packages/liman_core/src/liman_core/plugins/auth/service_account/component.py
  python/packages/liman_core/src/liman_core/plugins/auth/service_account/schemas.py
  python/packages/liman_core/tests/plugins/auth/test_credentials_provider.py
Due: python, python/liman_core

feat_py(liman_core): add pre and post execution hooks for NodeActor
  python/packages/liman_core/src/liman_core/node_actor/actor.py
  python/packages/liman_core/src/liman_core/nodes/base/liman.py
  python/packages/liman_core/src/liman_core/plugins/auth/plugin.py
  python/packages/liman_core/src/liman_core/plugins/auth/schemas.py
  python/packages/liman_core/src/liman_core/plugins/core/base.py
  python/packages/liman_core/src/liman_core/registry.py
  python/packages/liman_core/tests/nodes/base/test_component_additional.py
  python/packages/liman_core/tests/plugins/test_plugins.py
Due: python, python/liman_core

feat(liman_core): add dependency injection
  python/packages/liman_core/pyproject.toml
  python/packages/liman_core/src/liman_core/__init__.py
  python/packages/liman_core/src/liman_core/dishka.py
  python/packages/liman_core/src/liman_core/node_actor/actor.py
  python/packages/liman_core/src/liman_core/nodes/function_node/node.py
  python/packages/liman_core/src/liman_core/nodes/tool_node/node.py
  python/packages/liman_core/src/liman_core/registry.py
  python/uv.lock
Due: python, python/liman_core

refactor_py(liman_openapi): split schemas
  python/packages/liman_openapi/src/liman_openapi/schemas.py
  python/packages/liman_openapi/src/liman_openapi/schemas/__init__.py
  python/packages/liman_openapi/src/liman_openapi/schemas/endpoint.py
  python/packages/liman_openapi/src/liman_openapi/schemas/parameter.py
  python/packages/liman_openapi/src/liman_openapi/schemas/ref.py
  python/packages/liman_openapi/src/liman_openapi/schemas/request.py
  python/packages/liman_openapi/src/liman_openapi/schemas/response.py
Due: python, python/liman_openapi

feat_py(liman_openapi): parse secureSchemes
  python/packages/liman_openapi/README.md
  python/packages/liman_openapi/src/liman_openapi/operation.py
  python/packages/liman_openapi/src/liman_openapi/parse.py
  python/packages/liman_openapi/src/liman_openapi/schemas/__init__.py
  python/packages/liman_openapi/src/liman_openapi/schemas/endpoint.py
  python/packages/liman_openapi/src/liman_openapi/tool_node.py
  python/packages/liman_openapi/tests/conftest.py
  python/packages/liman_openapi/tests/data/simple_secure_schema.yaml
  python/packages/liman_openapi/tests/test_parse_security_schemes.py
Due: python, python/liman_openapi

refactor_py(liman_core): use per-registry DI provider with lazy container
  python/README.md
  python/packages/liman_core/src/liman_core/__init__.py
  python/packages/liman_core/src/liman_core/dishka.py
  python/packages/liman_core/src/liman_core/nodes/llm_node/schemas.py
  python/packages/liman_core/src/liman_core/plugins/auth/credentials_provider/component.py
  python/packages/liman_core/src/liman_core/registry.py
  python/packages/liman_core/tests/nodes/tool_node/test_from_liman_dependency.py
  python/packages/liman_core/tests/nodes/tool_node/test_tool_node_liman_injection.py
  python/packages/liman_core/tests/plugins/auth/test_credentials_provider.py
  python/packages/liman_core/tests/test_registry.py
Due: python, python/liman_core

test_py(liman_core): add credentials provider integration tests
  python/packages/liman_core/tests/plugins/auth/test_credentials_provider_integration.py
Due: python, python/liman_core
