Repository gurobokum/liman: changes, and which Codecov flags are due for each by the changed paths.
All: python, python/liman, python/liman_core, python/liman_finops, python/liman_openapi

codecov.yml:

flags:
  python:
    paths:
      - python/

component_management:
  individual_components:
    - component_id: liman_py
      name: python/liman
      paths:
        - python/packages/liman/**
    - component_id: liman_core_py
      name: python/liman_core
      paths:
        - python/packages/liman_core/**
    - component_id: liman_finops_py
      name: python/liman_finops
      paths:
        - python/packages/liman_finops/**
    - component_id: liman_openapi_py
      name: python/liman_openapi
      paths:
        - python/packages/liman_openapi/**

github_checks:
  annotations: false

release(liman_py): 0.1.0 (#28)
  .release-please-manifest.json
  python/packages/liman/CHANGELOG.md
  python/packages/liman/src/liman/__init__.py
Due: python, python/liman

release(liman_openapi_py): 0.1.1
  .release-please-manifest.json
  python/packages/liman_openapi/CHANGELOG.md
  python/packages/liman_openapi/src/liman_openapi/__init__.py
Due: python, python/liman_openapi

release(liman_openapi_py): 0.1.1 (#31)
  .release-please-manifest.json
  python/packages/liman_openapi/CHANGELOG.md
  python/packages/liman_openapi/src/liman_openapi/__init__.py
Due: python, python/liman_openapi

release(liman_finops_py): 0.1.0
  .release-please-manifest.json
  python/packages/liman_finops/CHANGELOG.md
  python/packages/liman_finops/src/liman_finops/version.py
Due: python, python/liman_finops

release(liman_finops_py): 0.1.0 (#15)
  .release-please-manifest.json
  python/packages/liman_finops/CHANGELOG.md
  python/packages/liman_finops/src/liman_finops/version.py
Due: python, python/liman_finops

build(config): format release-please manifest one version per line
  .release-please-manifest.json
Due: none

release(liman_core_ts): 1.0.0
  .release-please-manifest.json
  typescript/packages/liman_core/CHANGELOG.md
  typescript/packages/liman_core/package.json
Due: none
