Repository gurobokum/liman: changes, and which Codecov flags are due for each by the changed paths.
All: python, python/liman, python/liman_core, python/liman_finops, python/liman_openapi

chore: upgrade liman_openapi for simple_openapi sample
  python/samples/simple_openapi/uv.lock
Due: python

docs: add OpenAPI integration section
  docs/content/docs/getting-started/adding-tools.mdx
  docs/content/docs/getting-started/openapi-integration.mdx
  docs/content/docs/getting-started/simple-agent.mdx
Due: none

docs: update README.md for simple_openapi sample
  python/samples/simple_openapi/README.md
Due: python

docs: add minor changes to simple_openapi sample README.md
  python/samples/simple_openapi/README.md
Due: python

release(liman_core_ts): 0.1.0-a0
  .release-please-manifest.json
  typescript/packages/liman_core/CHANGELOG.md
  typescript/packages/liman_core/package.json
Due: none

release(liman_finops_py): 0.1.0-a0
  .release-please-manifest.json
  python/packages/liman_finops/CHANGELOG.md
Due: python, python/liman_finops

release(liman_py): 0.1.0-a3
  python/packages/liman/CHANGELOG.md
Due: python, python/liman

docs: add blog post about integrating OpenAPI with Liman
  docs/content/blog/2025-08-17_simple_openapi.mdx
  docs/package.json
  docs/pnpm-lock.yaml
  docs/public/asciinema/simple_openapi.cast
  docs/public/memes/billy.webp
  docs/src/components/asciinema/asciinema-player.d.ts
  docs/src/components/asciinema/index.tsx
  docs/src/components/asciinema/player.tsx
  docs/src/components/asciinema/style.css
  docs/src/components/mdx/Mermaid.tsx
  docs/src/components/ui/meme.tsx
  docs/src/mdx-components.tsx
Due: none

docs: add link to the blog post at Hero in Landing
  docs/app/(home)/_components/Hero.tsx
  docs/app/global.css
Due: none

docs: usage Image in MemeIcon
  docs/src/components/ui/meme.tsx
  docs/src/mdx-components.tsx
Due: none

docs: minore fixes for Getting Started
  docs/content/docs/getting-started/openapi-integration.mdx
  docs/content/docs/getting-started/simple-agent.mdx
Due: none

docs: update Landing links
  docs/app/(home)/_components/Community.tsx
  docs/app/(home)/_components/Hero.tsx
Due: none

docs: remove unused Badge
  docs/app/(home)/_components/Hero.tsx
Due: none

docs: add metadata for blog post
  docs/app/(home)/blog/[slug]/page.tsx
  docs/app/icon.png
  docs/public/blog/2025-08-17_simple_openapi/image.png
Due: none

docs: point new domain
  docs/src/links.tsx
Due: none

docs: add metadata
  docs/app/(home)/layout.tsx
  docs/app/docs/[[...slug]]/page.tsx
  docs/public/og.png
  docs/src/lib/metadata.ts
Due: none

test(liman_core): add plugins and registry basic tests
  python/packages/liman_core/tests/plugins/test_plugins.py
  python/packages/liman_core/tests/test_registry.py
Due: python, python/liman_core

test(liman_core): add tests for errors
  python/packages/liman_core/tests/test_errors.py
Due: python, python/liman_core

test(liman_core): cover edge CE DSL with tests
  python/packages/liman_core/src/liman_core/edge/schemas.py
  python/packages/liman_core/tests/edge/dsl/test_grammar.py
  python/packages/liman_core/tests/edge/dsl/test_transformer.py
  python/packages/liman_core/tests/edge/test_schemas.py
  python/pyproject.toml
Due: python, python/liman_core

test: rework tests/nodes
  python/packages/liman_core/tests/edge/test_edge_schemas.py
  python/packages/liman_core/tests/nodes/base/test_base_node.py
  python/packages/liman_core/tests/nodes/base/test_base_schemas.py
  python/packages/liman_core/tests/nodes/function_node/test_function_node_schemas.py
  python/packages/liman_core/tests/nodes/llm_node/test_llm_node.py
  python/packages/liman_core/tests/nodes/tool_node/conftest.py
  python/packages/liman_core/tests/nodes/tool_node/test_get_json_schema.py
  python/packages/liman_core/tests/nodes/tool_node/test_tool_node.py
  python/packages/liman_core/tests/nodes/tool_node/test_tool_node_invoke.py
  python/packages/liman_core/tests/nodes/tool_node/test_utils.py
Due: python, python/liman_core

test(liman_core): cover utils
  python/packages/liman_core/tests/nodes/test_supported_types.py
  python/packages/liman_core/tests/test_utils.py
Due: python, python/liman_core

test(liman_core): improve coverage
  python/packages/liman_core/src/liman_core/base/component.py
  python/packages/liman_core/tests/node_actor/test_conditional_evaluator.py
  python/packages/liman_core/tests/node_actor/test_node_actor_additional.py
  python/packages/liman_core/tests/nodes/base/test_component_additional.py
Due: python, python/liman_core

tests(liman): add executor tests
  python/packages/liman/tests/conftest.py
  python/packages/liman/tests/executor/__init__.py
  python/packages/liman/tests/executor/test_base.py
  python/packages/liman/tests/executor/test_executor_schemas.py
  python/packages/liman/tests/test_dummy.py
Due: python, python/liman

docs: make person_profiles always for PostHog
  docs/instrumentation-client.ts
Due: none

fix(liman): use asyncio.gather for python-3.10 support
  python/packages/liman/src/liman/executor/base.py
Due: python, python/liman

ci: push codecov report for liman
  .github/workflows/python-checks.yaml
Due: none

docs: update README.md
  README.md
Due: none

feat_py(liman): parse base_exception
  python/packages/liman/src/liman/executor/base.py
Due: python, python/liman

fix: issue with hardcoded dir for specs
  python/packages/liman/src/liman/agent.py
Due: python, python/liman

ci: increment release versions
  release-please-config.json
Due: none

release(liman_py): 0.1.0-a4
  .release-please-manifest.json
  python/packages/liman/CHANGELOG.md
  python/packages/liman/src/liman/__init__.py
Due: python, python/liman

release(liman_py): 0.1.0-a4 (#25)
  .release-please-manifest.json
  python/packages/liman/CHANGELOG.md
  python/packages/liman/src/liman/__init__.py
Due: python, python/liman

docs: add RSS feed
  docs/app/rss.xml/route.ts
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/lib/metadata.ts
Due: none

chore: update simple-openapi sample dependencies
  python/samples/simple_openapi/uv.lock
Due: python

docs: add NEXT_PUBLIC_BASE_URL env
  docs/.env.example
  docs/src/lib/metadata.ts
Due: none

docs: add RSS description
  docs/app/rss.xml/route.ts
Due: none

ci: drop hardcoded versions from release-please
  release-please-config.json
Due: none

test(liman): add tests for Agent
  python/packages/liman/tests/test_agent.py
Due: python, python/liman

test(liman): add tests for storage
  python/packages/liman/tests/test_state.py
Due: python, python/liman

Path conditions:
  python: any of: python/
  python/liman: any of: python/packages/liman/**
  python/liman_core: any of: python/packages/liman_core/**
  python/liman_finops: any of: python/packages/liman_finops/**
  python/liman_openapi: any of: python/packages/liman_openapi/**
